.certificate-product-certificate {
  margin-top: 50px;
  .certificate-product-certificate-container {
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
  }

  .certificate-product-certificate-small {
    height: 220px;
    background: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .certificate-product-certificate-swiper-2-button-prev, .certificate-product-certificate-swiper-2-button-next {
      width: 85px;
      display: flex;
      justify-content: center;

      &:hover {
        cursor: pointer;

        svg path {
          stroke-opacity: 1 !important;
        }
      }
    }

    .certificate-product-certificate-swiper-2 {
      cursor: pointer;

      .certificate-product-certificate-swiper-wrapper-2 {
        .swiper-slide {
          width: 170px !important;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .swiper-slide-thumb-active {
          border: 1px solid #1E3D76;
        }
      }
    }
  }

  .certificate-product-certificate-big {
    height: 667px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .certificate-product-certificate-swiper-button-prev, .certificate-product-certificate-swiper-button-next {
      width: 85px;
      display: flex;
      justify-content: center;

      &:hover {
        cursor: pointer;

        svg path {
          stroke: #212529 !important;
          stroke-opacity: .3;
        }
      }
    }

    .certificate-product-certificate-swiper {
      cursor: pointer;
      height: 100%;

      .certificate-product-certificate-swiper-wrapper {
        .swiper-slide {
          width: 100% !important;
          height: 100%;
          display: flex;
          justify-content: center;
          picture{
            display: contents;
          }
          img{
            height: 100%;
          }
        }
      }
    }
  }
  .sms-download {
    background: #f2f2f2;
    color: #656565;
    margin: 43px auto;
    padding: 10px 40px;
    display: block;
    width: max-content;
    &:hover{
      text-decoration: none;
      color: #0056b3;
    }
  }
}
